configuration {
  show-icons:         true;
  cycle:              true;
  hide-scrollbar:     true;
  disable-history:    false;
  modi:               "drun";
  display-drun:       "I use Arch btw";
  columns: 2;
}
